@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* { box-sizing: border-box; }

*{
margin: 0;
padding: 0;
}

html { scroll-behavior: smooth; }

img { max-width: 100%; }

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#c5ebd6;
}

header { height: 210px; }

a { text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
} 

h1 {
    background-color: black;
    
}

h1 img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0px auto;    
}

nav {
    background-color: black;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {    
    font-size: 20px;
    color: #cef5de;
    padding: 10px;
    transition: 500ms;
}

nav a:hover, nav a:focus {
    background-color: #0a853d3f;
}

main {
    background-color: #dff3e8d3;
    width: 80vw; 
    margin: auto; 
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 30px; 
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
}

.destaque {
    background-image: url(imagens/destaque.jpg);
    height: 600px;
    color: whitesmoke;
    text-align: center;
        
    background-size: cover;
    display: flex;
    justify-content: center;    
    align-items: center;    
    flex-wrap: wrap;
    align-content: center;
}

.destaque h2 {
    font-size: 52px;
    font-family:'Merienda', cursive;
    padding-bottom: 150px;

    animation-name: aparecer;
    animation-duration: 2s;
}

.destaque p {
    font-size: 42px;
    font-family: 'Merienda', cursive;
    
    animation-name: aparecer;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
 }

@keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1;}
}

hr {
    border-radius: 30px;
    color: green;
    margin-bottom: 30px;
    box-shadow:  rgba(24, 26, 25, 0.041) 0 0 5px 5px;
}

.instagram {
    width: 180px;
    height: 180px;
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

figure img {
    transform: scale(0.8);
    transition: 500ms;
    box-shadow:  rgba(24, 26, 25, 0.068) 0 0 10px 10px;
    border-radius: 10px;
}

figure img:hover {
    transform: scale(0.9)    
}

figure {
    padding-left: 80px;
    margin: auto;
    display: block;
}
       

.whatsapp {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    text-align: center;    
    
}

footer {
    height: 100px;
    background-color: black;
    color: whitesmoke;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sobre {
    height: 450px;
    width: 600px;    
    display: block;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
    }

.paragrafo {
    font-size: 22px;
    text-align: justify;
}

aside {
    font-size: 18px;
    text-align: end;
}

form {
    width: 70%;
    margin: auto;
    padding: 16px;
}

#nome, #email,#telefone, #assunto, #mensagem {
    width: 100%;
    border: none;
    height: 30px;
    box-shadow: rgb(0, 128, 117) 0 0 3px;
}

#mensagem {height: auto;}

button {
    border:none;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 3px;
}

button:hover, button:focus {
    background-color: rgb(0, 128, 117);
}







    
@media screen and (max-width: 820px) {

    .destaque {

    height: 320px;
    color: whitesmoke;
    text-align: center;
            
    background-size: cover;
    display: flex;
    justify-content: center;    
    align-items: center;    
    flex-wrap: wrap;
    align-content: center;
}

    .destaque h2 {
        font-size: 32px;
        font-family:'Merienda', cursive;
        padding-bottom: 20px;
    }
    
    .destaque p {
        font-size: 22px;
        font-family: 'Merienda', cursive;
  
    }
    h2 {
        text-align: center;
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .instagram {
        width: 150px;
        height: 150px;
        display: block;
        margin: 0px auto;
        margin-top: 10px;
        text-align: center;
    }

    figure {
        margin: auto;
        display: inline-block;
    }

    .whatsapp {
        height: 100px;
        width: 100px;
        display: block;
        margin: 0px auto;
        margin-top: 10px;
        text-align: center;    
        
    }

    .sobre {
        height: 213px;
        width: 320px;    
        display: block;
        margin: 0px auto;
        margin-top: 15px;
        margin-bottom: 20px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
        }
    
    .paragrafo {
        text-indent: 10%;
        font-size: 18px;
        text-align: justify
    }
    
    aside {
        font-size: 12px;
        text-align: end;
    }

    form {
        width: 100%;
        margin: auto;
        padding: 50px;
    }
    

}



@media screen and (max-width: 470px) {

    nav a {    
        font-size: 15px;
        color: #cef5de;
        padding: 10px;
        transition: 500ms;    
    }

    .destaque {
        background-image: url(imagens/destaque.jpg);
        height: 350px;
     
        color: whitesmoke;
        text-align: center;
            
        background-size: cover;
        display: flex;
        justify-content: center;    
        align-items: center;    
        flex-wrap: wrap;
        align-content: center;
    }

    .destaque h2 {
        font-size: 22px;
        font-family:'Merienda', cursive;
        padding-bottom: 10px;
    }
    
    .destaque p {
        font-size: 16px;
        font-family: 'Merienda', cursive;
    }
    

    h2 {
        text-align: center;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .instagram {
        width: 80px;
        height: 80px;
        display: block;
        margin: 0px auto;
        margin-top: 10px;
        text-align: center;
    }

    figure {
        padding: 30px;
        margin: auto;
        display: inline-block;
    }

    .whatsapp {
        height: 50px;
        width: 50px;
        display: block;
        margin: 0px auto;
        margin-top: 10px;
        text-align: center;    
        
    }

    .sobre {
        height: 142px;
        width: 213px;    
        display: block;
        margin: 0px auto;
        margin-top: 15px;
        margin-bottom: 20px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
        }
    
    .paragrafo {
        text-indent: 10%;
        font-size: 18px;
        text-align: justify
    }
    
    aside {
        font-size: 12px;
        text-align: end;
    }

    form {
        width: 100%;
        margin: auto;
        padding: 3px;
    }
}



/* @media screen and (min-width: 471px) {

    nav a {    
        font-size: 15px;
        color: #cef5de;
        padding: 10px;
        transition: 500ms;    
    }

    .destaque {
        background-image: url(imagens/destaque.jpg);
        height: 350px;
     
        color: whitesmoke;
        text-align: center;
            
        background-size: cover;
        display: flex;
        justify-content: center;    
        align-items: center;    
        flex-wrap: wrap;
        align-content: center;
    }

    .destaque h2 {
        font-size: 28px;
        font-family:'Merienda', cursive;
        padding-bottom: 10px;
    }
    
    .destaque p {
        font-size: 18px;
        font-family: 'Merienda', cursive;
    }
    

    h2 {
        text-align: center;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .instagram {
        width: 80px;
        height: 80px;
        display: block;
        margin: 0px auto;
        margin-top: 10px;
        text-align: center;
    }

    figure {
        padding: 30px;
        margin: auto;
        display: inline-block;
    }

    .whatsapp {
        height: 50px;
        width: 50px;
        display: block;
        margin: 0px auto;
        margin-top: 10px;
        text-align: center;    
        
    }

    .sobre {
        height: 142px;
        width: 213px;    
        display: block;
        margin: 0px auto;
        margin-top: 15px;
        margin-bottom: 20px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
        }
    
    .paragrafo {
        text-indent: 10%;
        font-size: 18px;
        text-align: justify
    }
    
    aside {
        font-size: 12px;
        text-align: end;
    }

    form {
        width: 100%;
        margin: auto;
        padding: 3px;
    }
}
 */





/* @media screen and (min-width: 800px) {

    .destaque {

        height: 320px;
        color: whitesmoke;
        text-align: center;
                
        background-size: cover;
        display: flex;
        justify-content: center;    
        align-items: center;    
        flex-wrap: wrap;
        align-content: center;
    }
    
    .destaque h2 {
        font-size: 32px;
        font-family:'Merienda', cursive;
        padding-bottom: 20px;
    }
        
    .destaque p {
        font-size: 22px;
        font-family: 'Merienda', cursive;
      
    }

    h2 {
        text-align: center;
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .instagram {
        width: 150px;
        height: 150px;
        display: block;
        margin: 0px auto;
        margin-top: 10px;
        text-align: center;
    }
    
    figure {
        margin: auto;
        display: inline-block;
        align-items: flex-end;
        }
    
    .whatsapp {
        height: 100px;
        width: 100px;
        display: block;
        margin: 0px auto;
        margin-top: 10px;
        text-align: center;    
            
        }
    
    .sobre {
        height: 213px;
        width: 320px;    
        display: block;
        margin: 0px auto;
        margin-top: 15px;
        margin-bottom: 20px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
            }
        
    .paragrafo {
        text-indent: 10%;
        font-size: 18px;
        text-align: justify
        }
        
    aside {
        font-size: 12px;
        text-align: end;
        }
    
    form {
        width: 100%;
        margin: auto;
        padding: 50px;
        }
        
    
    }
    
     */
